.top_bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.score_box1{
    width: calc(400 / 1920 * 100vw);
    height: 80px;
    border-bottom-left-radius: 14px;
        
}
.score_box2{
    width: calc(400 / 1920 * 100vw);
    height: 80px;
    border-bottom-right-radius: 14px;
        
}
.p_country{
    font-size: 48px;
    color: white;
    text-align: center;
}

.score_bar{
    width: 252px;
    height: 80px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 32px;
    margin-right: 32px;
}

.my_players{
    width: calc(400 / 1920 * 100vw);
    height: calc(400 / 1080 * 100vh);
    position: fixed;
    top: calc(512 / 1080 * 100vh);
    left: calc(120/1920*100vw);
}

.enumy_players{
    width: calc(400 / 1920 * 100vw);
    height: calc(400 / 1080 * 100vh);
    position: fixed;
    top: calc(108 / 1080 * 100vh);
    left: calc(1242/1920*100vw);
}

.my_nametag{
    display: flex;              /* Flexbox 사용 */
    align-items: center;       /* 세로 가운데 정렬 */
    justify-content: center;    /* 가로 가운데 정렬 (필요한 경우) */

    border-radius: 10px;
    width: calc(337 / 1920 * 100vw);
    height: calc(100 / 1080 * 100vh);
    position: fixed;
    top: calc(912 / 1080 * 100vh);
    left: calc(190/1920*100vw);
}
.my_nametag>p{
    text-align: center;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: Pretendard;
    font-size: calc(48 / 1920 * 100vw);;
    font-style: normal;
    line-height: normal;
}
.enumy_nametag{
    display: flex;              /* Flexbox 사용 */
    align-items: center;       /* 세로 가운데 정렬 */
    justify-content: center;    /* 가로 가운데 정렬 (필요한 경우) */

    border-radius: 10px;
    width: calc(337 / 1920 * 100vw);
    height: calc(100 / 1080 * 100vh);
    position: fixed;
    top: calc(503 / 1080 * 100vh);
    left: calc(1312/1920*100vw);
}
.enumy_nametag>p{
    text-align: center;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: Pretendard;
    font-size: calc(48 / 1920 * 100vw);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.ball{
    width: calc(235 / 1920 * 100vw);
    height: calc(235 / 1080 * 100vh);
    position: fixed;
    top: calc(570 / 1080 * 100vh);
    left: calc(610/1920*100vw);
}
.skill_box{
    border-radius: 10px;
    width: calc(450 / 1920 * 100vw);
    height: calc(150 / 1080 * 100vh);
    display: flex;              /* Flexbox 사용 */
    align-items: center;       /* 세로 가운데 정렬 */
    justify-content: center;    /* 가로 가운데 정렬 (필요한 경우) */
    font-size: calc(48 / 1920 * 100vw);
    color: #000000;
    background-color: #F7F7F7;
    border-color: #D9D9D9;
    opacity: 0.8;
}
.boxes{
    margin-top: calc(600 / 1080 * 100vh);
    margin-left: calc(985 / 1920 * 100vw);
}




/* seestat.js */
.state_div{
    margin-top: calc(185 / 1080 * 100vh);
    justify-content: center;
    /* align-items: center  ; */
    gap: calc(170 / 1920 * 100vw);;
}
.my_state{
    border-radius: 10px;
    /* margin-left: calc(135 / 1920 * 100vw);
    margin-right:  calc(170 / 1920 * 100vw); */
    width: calc(450 / 1920 * 100vw);
    height: calc(550 / 1080 * 100vh);
    background-color: #F7F7F7;
    text-align: center;
}
.enumy_state{
    border-radius: 10px;
    /* margin-left:  calc(170 / 1920 * 100vw); */
    width: calc(450 / 1920 * 100vw);
    height: calc(550 / 1080 * 100vh);
    background-color: #F7F7F7;
    text-align: center;
}
.time_stat {
    text-align: center;
    margin-top: calc(140 / 1080 * 100vh);
    width: calc(264 / 1080 * 100vh);
    height: calc(264 / 1080 * 100vh); /* width와 동일한 값을 사용하여 크기 유지 */
    border-radius: 50%;
    background-color: #F7F7F7;
}
.stat_title{
    margin-top: calc(40 / 1080 * 100vh);
    font-size: calc(48 / 1080 * 100vh);
}
.my_statuss{
    margin-top: calc(20 / 1080 * 100vh);
    justify-content: center;
    gap: 100px;
    font-size: calc(48 / 1080 * 100vh);
}
.enumy_states{
    margin-top: calc(50 / 1080 * 100vh);
    justify-content: center;
    gap: 100px;
    font-size: calc(48 / 1080 * 100vh);
}
.timer_count{
    /* margin-top:calc(35 / 1080 * 100vh); */
    font-size:calc(128 / 1080 * 100vh);
}
.check{
    font-size:calc(36 / 1080 * 100vh);
}

/* modal.js *//* modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* opacity: 0.3; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 모달을 다른 요소 위에 위치시키기 위해 z-index 설정 */
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    opacity: 1px;
    border-radius: 10px;
    height: calc(700 / 1080 * 100vh);
    width: calc(550/1920*100vw);
    text-align: center;
    align-items: center; /* 가로 중앙 정렬 */
}
.success{
    margin-top: calc(50 / 1080 * 100vh);
    font-size: calc(48 / 1080 * 100vh);
}
.text_success{
    font-size: calc(32 / 1080 * 100vh);
    margin-top: calc(3 / 1080 * 100vh);
}
.number{
    margin-top: calc(45 / 1080 * 100vh);
    font-size: calc(64 / 1080 * 100vh);
}
.ball_card{
    width:  calc(235 / 1080 * 100vh);
    height:  calc(235 / 1080 * 100vh);
}
.check_card{
    margin-top: calc(45 / 1080 * 100vh);
    font-size: calc(40 / 1080 * 100vh);
}